{% extends "base.html" %}
{% load static %}
{% block title %}Lista{% endblock title %}
{% block content %}
<a href="{% url "index" %}">Index</a>
<button type="button" class="js-create" data-url="{% url 'js-create-status' %}">NOVA</button>
<div class="modal fade" id="modal-form">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>

<table id="table-requests">
  <thead>
    <tr>
      <th>N°</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% include "partials/status/list.html" %}
  </tbody>
</table>

{% include "partials/pagination.html" %}

{% endblock content %}

{% block script %}
<script src="{% static "js/event.js" %}"></script>
{% endblock script %}