<form method="post" action="{% url 'js-update-genre' form.instance.pk %}" class="js-update-form">
  {% csrf_token %}

  <div class="modal-header">
      <h4 class="modal-title">EDIT GENRE</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body">
      <strong>{{form.instance}}</strong>  
      <p class='lead'>Fill in all required fields.</p>
      {{ form.as_p }}
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</form>